* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.background {
    background-image: url("/static/catt.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}





.glass-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.upload-form input[type="file"] {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #fff;
    color: #fff;
    margin-bottom: 15px;
    width: 100%;
}

button {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: rgba(255, 255, 255, 0.4);
}

.result-card {
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 20px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.prediction {
    color: #ffdd57;
    font-size: 22px;
    font-weight: bold;
}

.preview {
    margin-top: 20px;
}

.preview img {
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
    display: block;
    margin: auto;
    overflow: auto;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

